/* 跑馬燈 */

.marquee {
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

.s16-marqueebox {
    width: 100%;
    position: absolute;
    top: 37%;
    left: 0%;
    display: flex;
    height: 70%;
    overflow: hidden;
    /* padding: 5% 0; */
    box-sizing: border-box;
}

.s16-marqueebox img {
    height: 100%;
    width: auto;
}


/* 放大縮小 */

.scale {
    animation: scale 1.5s infinite ease-in-out;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


/* 左右搖晃 */

.shake {
    animation: shake 1.5s infinite ease-in-out;
    transform-origin: top center;
}

@keyframes shake {
    0% {
        transform: rotate(-7deg);
    }

    50% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(-7deg);
    }
}


/* 亮光 */

.light {
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative;
}

.light:after {
    content: "";
    display: block;
    position: absolute;
    left: -100%;
    top: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(124deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 40%, rgba(255, 255, 255, 0.75) 50%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    animation: light 2.5s infinite ease-in-out;
}

@keyframes light {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

.shiny-btn {
    display: block;
    position: relative;
    overflow: hidden;
}

.shiny-btn::before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    transition: 0.2s;
    animation: shiny-btn 3s ease-in-out infinite;
}

@keyframes shiny-btn {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }

    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(60) rotate(45deg);
        opacity: 0;
    }
}

.openbox {
    top: 28% !important;
    right: -11% !important;
}

.bgscale {
    transform: scaleY(1) !important;
}

.pdshow {
    scale: 1 !important;
}

.moveRight {
    animation: moveRight 1.75s infinite ease-in;
}

@keyframes moveRight {
    0% {
        left: 45%;
    }

    70% {
        left: 100%;
    }

    99% {
        left: 100%;
    }

    100% {
        left: 45%;
    }
}

.openLight {
    animation: openLight 3.5s infinite ease-in;
}

@keyframes openLight {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    38% {
        opacity: 0;
    }

    46% {
        opacity: 1;
    }

    54% {
        opacity: 0;
    }

    62% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.openLight2 {
    animation: openLight2 3.5s infinite ease-in;
}

@keyframes openLight2 {
    0% {
        opacity: 0.2;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    38% {
        opacity: 0.2;
    }

    46% {
        opacity: 1;
    }

    54% {
        opacity: 0.2;
    }

    62% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}